# Puerto local (Render lo asigna solo en producción)
PORT=4000

# Cadena de conexión de MongoDB Atlas
MONGODB_URI=mongodb+srv://usuario:clave@cluster.xxxxx.mongodb.net/ise?retryWrites=true&w=majority

# URL del frontend (Vercel), sin barra al final. Si hay más de una, separarlas con coma
CLIENT_URL=http://localhost:5173
